<nav>
    <ul class="pager">
        <li class="previous"><a href="#" {{action 'previous'}}><span aria-hidden="true">&larr;</span> Older</a></li>
        <li class="next"><a href="#" {{action 'next'}}>Newer <span aria-hidden="true">&rarr;</span></a></li>
    </ul>
</nav>